$primary: #2871F5;
$white: #FFF;

$text-secondary: #797B82;
$text-success: #25C16F;
$text-danger: #F6705E;
$text-warning: #F6AA2E;
$text-info: '';
$text-dark: #28292B;
$text-muted: #B1B5BA;

$bg-secondary: #F0F2F5;
// $bg-success: #46CA85;
// $bg-danger: #F77E6E;
// $bg-warning: #E5BE00;
// $bg-info: #47C7C3;
// $bg-dark: #454952;
// $bg-muted: #F2F4F7;

$border-light: 1px solid #EDEFF3;
$border-dark: 1px solid #CBCED3;